<header>
  <div class="header-wrapper">
    <%= link_to root_path do %>
      <div class="logo"></div>
    <% end %>
    <div class="header-nav">
      <ul class="header-lists">
        <li class="header-list"><%= link_to "新規登録", new_user_registration_path %></li>
        <li class="header-list"><%= link_to "ログイン", new_user_session_path %></li>
      </ul>
    </div>
  </div>
</header>