<div class="post-form-wrapper">
  <div class="field">
    <label for="image">
      <input type="file">
    </label>
  </div>

  <div class="field">
    <label for="text">
      <textarea class="textarea-default" name="" id="" cols="30" rows="5">
      </textarea>
    </label>
  </div>

  <div class="submit">
    <input class="submit-btn" type="submit" value="投稿する">
  </div>
</div>