<header>
  <div class="header-wrapper">
    <a href="#">
      <div class="logo"></div>
    </a>
    <div class="header-nav">
      <ul class="header-lists">
        <li class="header-list"><a href="#">新規登録</a></li>
        <li class="header-list"><a href="#">ログイン</a></li>
      </ul>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="side-bar"></div>
    <div class="main-wrapper"></div>
  </div>
</main>

<footer></footer>