<%= render "shared/header" %>

<main>
  <div class="container">
    <div class="side-bar">
      <ul class="side-lists">
        <li class="list">
          <%= link_to "投稿する", new_post_path %>
        </li>
        <li class="list">
          <a href="#">お知らせ</a>
        </li>
      </ul>
    </div>
    <div class="main-wrapper">
      <div class="posts">
        <%= render partial: 'post', collection: @posts %>
      </div>
    </div>
  </div>
</main>

<%= render "shared/footer" %>