<%= render "shared/header" %>

<main>
  <div class="container">
    <div class="side-bar">
      <ul class="side-lists">
        <li class="list">
          <a href="#">投稿する</a>
        </li>
        <li class="list">
          <a href="#">お知らせ</a>
        </li>
      </ul>
    </div>
    <div class="main-wrapper">
      <%= render 'form' %>
    </div>
  </div>
</main>

<%= render "shared/footer" %>