/* ヘッダー */
header {
  background-color: #000;
  width: 100vw;
  height: 100px;
  color: #fff;
}

.header-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: #fff;
  width: 200px;
  height: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-lists {
  display: flex;
}

.header-list {
  margin-left: 15px;
}

.header-list a {
  display: block;
  border: 1px solid #fff;
  padding: 15px;
}

/* サイド */
.side-bar {
  background-color: #a9a9a9;
  width: 300px;
  padding: 10px;
}

.list {
  background-color: #fff;
  width: 100%;
  height: 80px;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
}

.list:not(:last-child) {
  margin-bottom: 20px;
}

.list a {
  display: block;
}

/* メイン */
main {
  background-color: #eee;
  width: 100vw;
  min-height: calc(100vh - 180px);
  padding: 20px 0;
}

.index-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* 投稿一覧 */
.main-wrapper {
  background-color: #a9a9a9;
  width: calc(100% - 320px);
  padding: 10px;
}

.posts {
  padding: 10px;
}

.post {
  background-color: #98b9c3;
  padding: 10px;
}

.post:not(:last-of-type) {
  margin-bottom: 30px;
}

.post-upper {
display: flex;
margin-bottom: 30px;
}

.post span {
  display: block;
}

.icon {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 30px;
}

.post-user-name {
  color: #fff;
  font-size: 20px;
  line-height: 50px;
}

.post-lists {
  margin: 0 30px 0 auto;
  position: relative;
}

.post-lists span {
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.post-lists span:hover ul {
  display: block;
}

.post-lists ul {
  background-color: #333;
  width: 50px;
  color: #eee;
  position: absolute;
  left: -15px;
  display: none;
}

.post-lists li {
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.edit {
  background-color: #00ff00;
  display: block;
}

.delete {
  background-color: #ff0000;
  display: block;
}

.post-img {
  background-color: #fff;
  width: 280px;
  height: 280px;
  margin: 0 auto 20px;
  display: block;
}

.post-lower-right p {
  background-color: #fff;
  padding: 20px;
  line-height: 2em;
  margin-bottom: 20px;
}

.post-nav {
  display: flex;
  justify-content: space-around;
}

.likes,
.comments,
.post-show {
  background-color: #fff;
  width: 120px;
  height: 90px;
  padding: 10px;
  text-align: center;
}

.likes a,
.comments a {
  padding: 5px;
}

.likes span,
.comments span {
  margin-top: 20%;
}

.post-show {
  line-height: 90px;
  padding: 0%;
}

.post-show a {
  display: block;
}

/* 投稿フォーム */
.post-form-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.post-form-wrapper {
  width: 70%;
  padding: 10px;
  margin: 0 auto;
}

.post-form-wrapper label {
  display: block;
  margin-bottom: 5px;
}

.textarea-default {
  background-color: #fff;
  border: 1px solid #333;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

.submit {
  text-align: right;
}

.submit-btn {
  background-color: #fff;
  border: 1px solid #333;
  padding: 8px;
}

/* 投稿詳細 */
.post-show-container {
  width: 80%;
  margin: 0 auto;
}

.show-upper {
  display: flex;
  justify-content: space-between;
}

.comments-wrapper {
  background-color: #a9a9a9;
  min-height: 300px;
  padding: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.comment-form {
  background-color: #98b9c3;
  width: 300px;
  padding: 10px;
}

.comment-form label {
  display: block;
  margin-bottom: 5px;
}

.comments-container {
  background-color: #98b9c3;
  width: calc(100% - 320px);
  padding: 10px;
}

.comment {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.user-box {
  display: flex;
}

.user-icon {
  background-color: #fff;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.user-name {
  color: #333;
  font-size: 15px;
  line-height: 30px;
}

.text p {
  background-color: #00ff00;
  width: 30%;
  padding: 10px;
  margin-left: 50px;
  border-radius: 7px;
  position: relative;
}

.text p::before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 5px;
  left: -20px;
  border-top: 9px solid transparent;
  border-right: 13px solid #00ff7f;
  border-bottom: 9px solid transparent;
  border-left: 9px solid transparent;
}

.self {
  flex-direction: row-reverse;
}

.self .user-icon {
  margin: 0 0 0 10px;
}

.self-text {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 50px;
}

.self-text p::before {
  display: none;
}

.self-text p::after {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 5px;
  right: -20px;
  border-top: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 13px solid #00ff7f;
}

/* フッター */
footer {
  background-color: #000;
  width: 100vw;
  height: 80px;
}