.devise-wrapper {
  background-color: #eee;
  width: 100%;
  min-height: calc(100vh - 180px);
}

.devise-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.devise-heading {
  margin-bottom: 20px;
}

.field {
  margin-bottom: 20px;
}

.input-default {
  border: 1px solid #333;
}

.date-wrapper {
  display: flex;
  justify-content: center;
}

.signup-btn {
  border: 1px solid #333;
  margin-bottom: 20px;
}